In [2]:
def introduction(name, surname):
    print("My name is", name, "and my surname is", surname)

In [4]:
introduction("Bikash", "Bashyal")

My name is Bikash and my surname is Bashyal

In [10]:
def college(name):
    print("The name of the college is", name)

In [11]:
college("MMDU")

The name of the college is MMDU

In [14]:
def sum_num(a,b):
    summ = a + b
    return summ

In [16]:
sum_num(12,89)

101

In [17]:
def intrest(p,t,r):
    product = (p*t*r)/100
    return product

In [18]:
intrest(1000,2,12)

240.0

In [19]:
def nums(a,b):
    sum = a+b
    divide = a/b
    multiply = a*b
    sub = a-b
    return sum, divide, multiply , sub

In [20]:
nums(10,2)

(12, 5.0, 20, 8)

In [29]:
def Capital(name, name2):
    a = name.capitalize()
    b = name2.capitalize()
    return a,b

In [30]:
Capital('HSweaQ', 'mAeneo')

('Hsweaq', 'Maeneo')

In [34]:
def cap():
    nam = input('Enter the first name: ')
    nam1 = input("Enter the second name: ")
    a = nam.capitalize()
    b = nam1.capitalize()
    return a,b

In [35]:
cap()

Enter the first name:  BaswYhea
Enter the second name:  alTER

('Baswyhea', 'Alter')

In [45]:
# Write a function which print the number that is even till that number which user had given 
def print_even():
    num = int(input("Enter the number: "))
    even_numbers = []
    for i in range(1, num+1):
        if i % 2 == 0:
            even_numbers.append(i)
            i+=1
    return even_numbers

In [46]:
print_even()

Enter the number:  56

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56]

In [46]:
print_even()

Enter the number:  56

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56]

## Lambda

In [47]:
sum = lambda x, y : x+y
print(sum(10,23))

33

In [48]:
sub = lambda a , b: a-b
print(sub(23,90))

-67

In [49]:
square = lambda z : z**2
print(square(23))

529

In [52]:
concat = lambda x, y : x+y
print(concat("Bikash", "Nams"))

BikashNams

In [54]:
divide = lambda a, b: a/b
print(divide(12,5))

2.4

In [55]:
mop = lambda a,g:a+g
print(mop("BIJAS", "BIedewb"))

BIJASBIedewb

In [61]:
even_or_odd = lambda x : 'even' if x % 2 ==0  else 'odd'
print(even_or_odd(1))

odd

In [62]:
# compare which is greater using labda function 
is_greater = lambda x , y : x if x>y else y
print(is_greater(12,34))

34